* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 2%;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

main{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-content{
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
}

#main-presentation{
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.purple-btn{
  border-radius: 5px;
  color:white;
  border-color: mediumpurple;
  background-color: mediumpurple;
}

.result-section{
  border-top: 5px;
  border-color: rgb(154, 152, 152);
  font-style: italic;
  color:rgb(153, 151, 151);
  padding: 2em;
}

.highscores-item{
  background-color: rgba(174, 131, 174, 0.475);
}

