* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 2%;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

main{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-content{
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
}

#main-presentation{
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#possible-answers{
  padding-top: 1.5em;
}

.highscores-item{
  background-color: rgba(174, 131, 174, 0.475);
}

button{
  border-radius: 5px;
  color:white;
  font-size: 1em;
  margin: 0.25em;
  border-color: mediumpurple;
  background-color: mediumpurple;
  border: none;
  outline: none;
  cursor: pointer;
}

/* The user's cursor is positioned over the element */
button:hover {
  background-color: rgba(67, 49, 159, 0.47);
}

.result-section{
  padding: 2em;
}

#response{
  font-style: italic;
  color:rgb(153, 151, 151);
  border-top: 0.2em;
  border-top-style: solid;
  border-color: rgb(192, 187, 187);
}

